<div class="container">
    <div class="row">
      <!-- About Me -->
      <div class="col-lg shadow border m-1">
        <div class="text-center">
          <h2>About Me</h2>
          <img src="assets/IMG_0422.jpg" alt="Profile picture" width="256" height="256" class="rounded-circle mb-3">
          <p>
            Full Stack Engineer with 5+ years of experience delivering scalable, high-performance applications. 
            Proficient in Java, Spring Boot, Angular, and TypeScript, with expertise in microservices, OAuth2, and Spring Security. 
            Skilled in AWS, Docker, Kubernetes, Jenkins, and database optimization (Oracle, PostgreSQL, MongoDB). 
            Experienced with Kafka for real-time data and infrastructure automation using AWS CloudFormation. 
            Focused on Agile, SOLID principles, and test-driven development.


          </p>
        </div>
      </div>
  
      <!-- Featured Project -->
      <div class="col-lg shadow border m-1">
        <div class="text-center">
          <h2>Featured Project</h2>
          <!-- You can add your project content here -->
        </div>
      </div>
  
    </div>
  </div>
  